app/build/intermediates/res/merged/debug/drawable/submit.9.png
app/build/intermediates/res/merged/debug/layout/activity_main.xml
app/build/intermediates/res/merged/debug/layout/activity_setting.xml
app/build/intermediates/res/merged/debug/layout/remark_activity.xml
app/build/intermediates/res/merged/debug/values-v11/values-v11.xml
app/build/intermediates/res/merged/debug/values-v14/values-v14.xml
app/build/intermediates/res/merged/debug/values-w820dp-v13/values-w820dp-v13.xml
app/build/intermediates/res/merged/debug/values/values.xml
app/build/intermediates/res/resources-debug-androidTest.ap_
app/build/intermediates/res/resources-debug.ap_
app/build/outputs/logs/manifest-merger-debug-report.txt
app/build/intermediates/res/merged/debug/drawable/fhps_banner.9.png
app/build/intermediates/res/merged/debug/drawable/netural.png
app/build/intermediates/res/merged/debug/drawable/button_active.xml
app/build/intermediates/res/merged/debug/drawable/dissatisfied.png
app/build/intermediates/res/merged/debug/drawable/rectangle_background_stroke_white.xml
app/build/intermediates/res/merged/debug/drawable/satisfied.png
app/build/intermediates/res/merged/debug/drawable/strong_dissatisfied.png
app/build/intermediates/res/merged/debug/drawable/strong_satisfied.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi/ic_launcher.png
app/build/intermediates/res/merged/debug/drawable/background.png
app/build/intermediates/res/merged/debug/drawable-xhdpi/ic_launcher.png
app/build/
app/build/intermediates/res/merged/debug/drawable-mdpi/ic_launcher.png
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.idea/workspace.xml
app/app.iml
.idea/encodings.xml
.idea/misc.xml
SlideDayTimePicker/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
SlideDayTimePicker/build/intermediates/incremental/mergeDebugAssets/merger.xml
SlideDayTimePicker/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
SlideDayTimePicker/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v11/values-v11.xml
SlideDayTimePicker/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v14/values-v14.xml
SlideDayTimePicker/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
SlideDayTimePicker/build/intermediates/incremental/mergeDebugResources/merger.xml
SlideDayTimePicker/build/intermediates/incremental/mergeDebugShaders/merger.xml
SlideDayTimePicker/build/intermediates/incremental/mergeReleaseAssets/merger.xml
SlideDayTimePicker/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
SlideDayTimePicker/build/intermediates/incremental/mergeReleaseResources/compile-file-map.properties
SlideDayTimePicker/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-v11/values-v11.xml
SlideDayTimePicker/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-v14/values-v14.xml
SlideDayTimePicker/build/intermediates/incremental/mergeReleaseResources/merged.dir/values/values.xml
SlideDayTimePicker/build/intermediates/incremental/mergeReleaseResources/merger.xml
SlideDayTimePicker/build/intermediates/incremental/mergeReleaseShaders/merger.xml
SlideDayTimePicker/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
SlideDayTimePicker/build/intermediates/incremental/packageDebugResources/merged.dir/values-v11/values-v11.xml
SlideDayTimePicker/build/intermediates/incremental/packageDebugResources/merged.dir/values-v14/values-v14.xml
SlideDayTimePicker/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
SlideDayTimePicker/build/intermediates/incremental/packageDebugResources/merger.xml
SlideDayTimePicker/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
SlideDayTimePicker/build/intermediates/incremental/packageReleaseResources/merged.dir/values-v11/values-v11.xml
SlideDayTimePicker/build/intermediates/incremental/packageReleaseResources/merged.dir/values-v14/values-v14.xml
SlideDayTimePicker/build/intermediates/incremental/packageReleaseResources/merged.dir/values/values.xml
SlideDayTimePicker/build/intermediates/incremental/packageReleaseResources/merger.xml
SlideDayTimePicker/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
SlideDayTimePicker/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
SlideDayTimePicker/build/intermediates/manifests/aapt/release/AndroidManifest.xml
SlideDayTimePicker/build
SlideDayTimePicker/build/generated/source/buildConfig/androidTest/debug/com/github/jjobes/slidedaytimepicker/test/BuildConfig.java
SlideDayTimePicker/build/generated/source/buildConfig/debug/com/github/jjobes/slidedaytimepicker/BuildConfig.java
SlideDayTimePicker/build/generated/source/buildConfig/release/com/github/jjobes/slidedaytimepicker/BuildConfig.java
SlideDayTimePicker/build/generated/source/r/androidTest/debug/com/github/jjobes/slidedaytimepicker/R.java
SlideDayTimePicker/build/generated/source/r/androidTest/debug/com/github/jjobes/slidedaytimepicker/test/R.java
SlideDayTimePicker/build/generated/source/r/debug/com/github/jjobes/slidedaytimepicker/R.java
SlideDayTimePicker/build/generated/source/r/release/com/github/jjobes/slidedaytimepicker/R.java
build/generated/mockable-android-23.jar
