app/build/intermediates/res/merged/debug/drawable/submit.9.png
app/build/intermediates/res/merged/debug/layout/activity_main.xml
app/build/intermediates/res/merged/debug/layout/activity_setting.xml
app/build/intermediates/res/merged/debug/layout/remark_activity.xml
app/build/intermediates/res/merged/debug/values-v11/values-v11.xml
app/build/intermediates/res/merged/debug/values-v14/values-v14.xml
app/build/intermediates/res/merged/debug/values-w820dp-v13/values-w820dp-v13.xml
app/build/intermediates/res/merged/debug/values/values.xml
app/build/intermediates/res/resources-debug-androidTest.ap_
app/build/intermediates/res/resources-debug.ap_
app/build/outputs/logs/manifest-merger-debug-report.txt
app/build/intermediates/res/merged/debug/drawable/fhps_banner.9.png
app/build/intermediates/res/merged/debug/drawable/netural.png
app/build/intermediates/res/merged/debug/drawable/button_active.xml
app/build/intermediates/res/merged/debug/drawable/dissatisfied.png
app/build/intermediates/res/merged/debug/drawable/rectangle_background_stroke_white.xml
app/build/intermediates/res/merged/debug/drawable/satisfied.png
app/build/intermediates/res/merged/debug/drawable/strong_dissatisfied.png
app/build/intermediates/res/merged/debug/drawable/strong_satisfied.png
app/build/intermediates/res/merged/debug/drawable-xxhdpi/ic_launcher.png
app/build/intermediates/res/merged/debug/drawable/background.png
app/build/intermediates/res/merged/debug/drawable-xhdpi/ic_launcher.png
app/build/
app/build/intermediates/res/merged/debug/drawable-mdpi/ic_launcher.png
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.idea/workspace.xml
app/app.iml
.idea/encodings.xml
.idea/misc.xml
